body {
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
h1 {
    color: #333;
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin-top: 20px;
}


button {
    background-color: #008CBA;
    color: white;
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #005f73;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

#dataList {
    display: flex;
    justify-content: center;
    align-items: top;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px;
}

#dataList > li {
    width: 300px;
}

.botones {
    display: flex;
    justify-content: center;
    width: 100%;
}

li {
    background: white;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}
.titulo {
    font-size: 1.5em;
    margin-bottom: 10px;
}
.subtitulo {
    font-size: 16px;
    margin-bottom: 8px;
}
.lista {
    margin-top: 10px;
}

img {
    max-width: 100px;
    height: auto;
    display: block;
    margin-bottom: 10px;
}